//## Buttons

@import "../mixins.scss";
@import "../variables.scss";

.button {
    display: block;
    height: 46px;
    margin: 20px auto 10px;
    text-align: center;
    background-color: $secondary;
    font-weight: 700;
    font-size: $font-small;
    letter-spacing: 4.2px;
    color: $default;
    line-height: 46px;
    border: none;
    border-radius: 100px;
    text-transform: uppercase;
    transition: all 0.3s ease-in;
    cursor: pointer;

    &--big {
        width: 250px;
    }

    &--small {
         width: 125px;
    }

    &:hover {
        background-color: $hover;
    }
}