//## Buttons

@import "../mixins.scss";
@import "../variables.scss";

.button {
    display: block;
    margin: 20px auto 10px;
    text-align: center;
    background-color: $secondary;
    font-weight: 700;
    font-size: $font-small;
    letter-spacing: 4.2px;
    color: $default;
    border: none;
    border-radius: 100px;
    text-transform: uppercase;
    transition: all 0.3s ease-in;
    cursor: pointer;

    &--big {
        width: 248px;
        height: 46px;
        line-height: 46px;
    }

    &:hover {
        background-color: $hover;
    }
}