//## Defaults
@import "../variables";
@import "../mixins";

html,
body {
    margin: 0;
    padding: 0;
    background-color: $default;
    font-family: $primary-font;
    color: $gray-base;
    line-height: 22px;
    -webkit-font-smoothing: antialiased;
}

#app {
    text-align: center;
    transition: all ease .6s;
}