//## Variables

//** Colors
$default: 	    #FFFFFF;
$primary: 	    #002C71;
$secondary:     #FFA640;
$hover:         #E59539;
$light:         #8298B9; 

$gray-base:	    #000000;
$gray: 	  	    #967171;
$gray-light:    #888888;
$gray-lighter:  #979797;
$gray-border:   #DBE0E8;
$gray-lightest: #EBEBEB;

//** Typography
$primary-font:   'Montserrat', sans-serif;

$font-big:       18px;
$font-base:      16px;
$font-small:     14px;
$font-xsmall:    12px;

//** Box shadow

$box-shadow: 0 0 4px 0 rgba(172,172,172,0.50);